
        
          <div class="container-fluid mt-4">
            <div class="row">
               
                  <h1 style="background-color: palevioletred;" class="">Quienes somos</h1>
            </div>
          </div>

          <div class="container mb-4">

<div class="row mt-4">
    <h2>Apasionados por los pueblos</h2>
    <p>La vida estresante de las grandes ciudades y la crisis del COVID-19 han hecho surgir un creciente interés por los pueblos, sobre todo aquellos con encanto y rodeados de naturaleza. Ahora que muchas personas pueden teletrabajar, la posibilidad de cambiar un piso en medio de la ciudad por una residencia más espaciosa, económica y en mitad del campo es una opción muy atractiva que cada vez gana más adeptos.</p>
<img src="../../assets/imagenes/somos1.jpg" alt="">
<p>Debido a ese creciente interés, surge la idea de crear una aplicación web donde los interesados en visitar o instalarse a vivir en un pueblo puedan encontrar información relevante, organizada y actualizada sobre las mejores opciones que existen en una región determinada. Por otra parte, quienes vivan ya en un pueblo y estén interesados en darlo a conocer y promocionarlo podrán publicar información sobre los atractivos que ofrece, sus características, viviendas o locales disponibles.

</p>
<img src="../../assets/imagenes/somos2.jpg" alt="">
</div>

            
          </div>
    
  


      