<div class="container-fluid">
    
    <img class="w-100" src="../../assets/imagenes/albarracin.jpg" alt="" />

</div>






<div class="container">

    <!-- Planes -->

    <div class="row row-cols-1 text-center mt-5 mb-3">
        <h2>Los pueblos cerca del mar más populares</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <a routerLink="pueblo">
                        <img class="img-fluid" src="../../assets/imagenes/pueblo1.png" alt="" />
                    </a>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Fornells</h1>
                    <p>Fornell , pueblo de pescadores en Mallorca</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <a routerLink="pueblo">
                        <img class="img-fluid" src="../../assets/imagenes/pueblo2.png" alt="" />
                    </a>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Getaria</h1>
                    <p>Getaria, precioso pueblo pesquero de Gipuzko</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <a routerLink="pueblo">
                        <img class="img-fluid" src="../../assets/imagenes/pueblo3.png" alt="" />
                    </a>
                   
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Manzarrón</h1>
                    <p>Mazarrón, Esencia mediterránea</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
            Explorar pueblos
        </button>
    </div>

    <div class="row row-cols-1 text-center mt-5 mb-3">
        <h2>Imágenes subidas por nuestros usuarios</h2>
    </div>

   <!-- Carousel -->
<div class="row">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="pueblo" routerLinkActive="pueblo" target="_blank" title="Que Es Unity y Otros Detalles">
        <img src="../../assets/imagenes/grecia.jpg" class="d-block w-100" alt="Que Es Unity y Otros Detalles">
      </a>
    </div>
    <div class="carousel-item">
        <a routerLink="pueblo" routerLinkActive="pueblo" target="_blank" title="Que Es Unity y Otros Detalles">
        <img src="../../assets/imagenes/asia1.jpg" class="d-block w-100" alt="Que Es La Ciberseguridad y Otros Detalles">
      </a>
    </div>
    <div class="carousel-item">
        <a routerLink="pueblo" routerLinkActive="pueblo" target="_blank" title="Que Es Unity y Otros Detalles">
        <img src="../../assets/imagenes/italia3.jpg" class="d-block w-100" alt="Qué es SQL y Otros Detalles">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
            
    <!-- Newsletter -->
    <div class="row mb-4">
        <div class="row row-cols-1 text-center mt-5 mb-3">
            <h2>Newsletter</h2>
        </div>
        <div class="row">
            <form action="" method="">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="micorreo@mail.com" required />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    Aceptar
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>